[package]
name = "encoder"
version = "0.1.0"
edition = "2021"
license = "MIT"
publish = false

authors = ["e-inky team"]

[dependencies]
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
